//MAIN COLORS
$primary-color: #3c6e71;
$primary-color-hover: #229A00;
$secundary-color: #14213d;
$white-color: #FFFFFF;
$black-color: #000000;

//GRAY
$gray-0: #E7E7E7;

//FONTS
$font-0: #212529;
$font-1: #343a40;
$font-2: #495057;
$font-3: #222;
$font-4: #212529;
$font-5: #A1A3A5;
