// Variables
@import 'variables';

.loader {
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000CC;
    z-index: 1035;
}

.spinner {
    border: 5px solid $white-color; /* Light grey */
    border-top: 5px solid $primary-color; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
